<div class="container post">
  <div class="post-header">

    <div class="d-flex justify-content-between">
      <h1 class="title">{{post.title}}</h1>
      <!-- <button (click)="deletePost()" class="btn btn-danger btn-block col-1 float-right delete-btn">
        <i class="fa fa-trash"></i>
      </button> -->
    </div>

    <p>Posted by
      <strong>{{authorUsername}}</strong>
    </p>
    <h6>{{post.description}}</h6>
  </div>

  <hr/>

  <br/>

  <div class="d-flex justify-content-between">
    <h4 class="title">Recommendations</h4>

    <button *ngIf="loggedIn" (click)="createResponse()" class="btn btn-primary btn-block col-sm-1 float-right">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div *ngIf="showResponseForm">
    <br/>
    <app-new-response [postId]="postId"></app-new-response>
    <br/>
    <hr/>
  </div>

  <br/>

  <ul class="list-group">
    <li *ngFor="let response of responses" class="list-group-item">
      <app-response-list-item [response]=response></app-response-list-item>
    </li>

  </ul>
</div>
