<div class="container post">
  <div class="post-header">

    <div class="d-flex justify-content-between">
      <h1 class="title">{{post.title}}</h1>
      <!-- <button (click)="deletePost()" class="btn btn-danger btn-block col-1 float-right delete-btn">
        <i class="fa fa-trash"></i>
      </button> -->
    </div>

    <p>Posted by
      <strong>{{authorUsername}}</strong>
    </p>
    <h6>{{post.description}}</h6>
  </div>

  <hr/>

  <br/>

  <div class="d-flex justify-content-between">
    <h4 class="title">Recommendations</h4>

    <button (click)="createResponse()" class="btn btn-primary btn-block col-sm-1 float-right">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div *ngIf="showResponseForm">
    <br/>
    <app-new-response [postId]="postId"></app-new-response>
    <br/>
    <hr/>
  </div>

  <br/>

  <ul class="list-group">
    <li *ngFor="let response of responses" class="list-group-item">
      <div class="row">
        <div class="col-3">
          <img src={{response.restaurantImageURL}} alt="Food Picture" width="100%" />
        </div>

        <div class="col-6">
          <h5>
            <a href={{response.restaurantURL}}> {{response.restaurantName}} </a>
          </h5>
          <h6> "{{response.descriptions}}"</h6>
          <span class="details">posted by {{response.userId}}</span>
        </div>

      </div>
    </li>

  </ul>
</div>