<div class="container-fluid">
  <h1>{{post.title}}</h1>
  <p>Posted by {{authorUsername}}</p>
  <h3>{{post.description}}</h3>

  <!--<button (click)="" class="btn btn-primary btn-block ">-->
    <!--Add Recommendation-->
  <!--</button>-->

  <h3>Responses</h3>
  <ul class="list-group">
    <li class="list-group-item">Example Response</li>
    <li class="list-group-item">Example Response</li>
    <li class="list-group-item">Example Response</li>
  </ul>

  <a routerLink="/home ">Home</a>
</div>
