<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username" placeholder="Username" class="form-control" />
  <input [(ngModel)]="user.firstName" placeholder="First name" class="form-control" />
  <input [(ngModel)]="user.lastName" placeholder="Last name" class="form-control" />
  <input [(ngModel)]="user.email" placeholder="Email" class="form-control" />
  <button (click)="update(user)" class="btn btn-primary btn-block">
    Update
  </button>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>

</div>