<div class="container">

  <h2 class="title">Welcome to Zelp! 🍣</h2>

  <br/>

  <h5 class="description col-md-7">
    <span class="primary-text">Zelp</span> is a social restaurant recommendation platform to help you get
    <span class="primary-text">personalized</span> and
    <span class="primary-text">honest</span> recommendations on where to eat.</h5>

  <button *ngIf="loggedIn && (userRole == '1')" routerLink="/new-post" class="btn btn-primary btn-block col-md-2">
    Create a post!
  </button>

  <button *ngIf="loggedIn && (userRole == '2')" routerLink="/new-post" class="btn btn-primary btn-block col-md-3">
    Promote your restaurant!
  </button>

  <br/>
  <br/>

  <div class="row">

    <div class="col-md-8">
      <h3 class="title">Recent posts</h3>
      <br/>
      <ul class="list-group">
        <li *ngFor="let post of posts" class="list-group-item">
          <app-post-list-item [post]="post"></app-post-list-item>
        </li>
      </ul>
    </div>
    <div *ngIf="loggedIn" class="col-md-4">
      <h3 class="title">Favorites</h3>
      <br/>
      <ul class="list-group">
        <li *ngFor="let favorite of favorites" class="list-group-item">
          <app-post-list-item [post]="favorite.post"></app-post-list-item>
        </li>
      </ul>
    </div>
  </div>

</div>