<div class="container">

  <h2 class="title">Welcome to Zelp! 👋🏼</h2>

  <br/>


  <h5 class="description col-md-7">
    <span class="primary-text">Zelp</span> is a social restaurant recommendation platform to help you get
    <span class="primary-text">personalized</span> and
    <span class="primary-text">honest</span> recommendations on where to eat.</h5>

  <button routerLink="/new-post" class="btn btn-primary btn-block col-md-2">
    Create a post!
  </button>

  <br/>
  <br/>

  <h3 class="title">Recent posts</h3>
  <br/>
  <ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
      <h5>
        <a routerLink="/post/{{post._id}}">{{post.title}}</a>
      </h5>
      posted by {{post.author}}
    </li>
  </ul>

</div>