.title {
  font-weight: 700;
}

.description {
  line-height: 25px;
}

.description {
  padding: 0;
  margin-bottom: 50px;
}

.primary-text {
  color: #9053a2;
  font-weight: 700;
}

.list-group-item {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-radius: 20px;
  margin-bottom: 20px;
}

.fa-star {
  color: #ffe732;
}
