<!--believe in your amazing css skill Caitlin!-->
<button class="btn my-2 my-sm-0" (click)="vote(1)"><i class="fa fa-caret-up"></i></button>
{{response.voteCounts}}
<button class="btn my-2 my-sm-0" (click)="vote(0)"><i class="fa fa-caret-down"></i></button>

<button class="btn btn-danger my-2 my-sm-0 float-right" (click)="delete()">
  <i class="fa fa-times"></i>
</button>
<!-----------------------------!-->

<div class="row">
  <div class="col-3">
    <img src={{response.restaurantImageURL}} alt="Food Picture" width="100%" />
  </div>
  <div class="col-6">
    <h5>
      <a href={{response.restaurantURL}}> {{response.restaurantName}} </a>
    </h5>
    <h6> "{{response.descriptions}}"</h6>
    <span class="details">posted by {{authorUsername}}</span>
  </div>
</div>
