<i *ngIf="currentUserId == response.userId || userRole == '0'" (click)="delete()" class="fa fa-times fa-lg float-right remove">
</i>
<div class="row">
  <div class="col-1 vote">
    <i (click)="vote(1)" class="fa fa-caret-up fa-2x row arrow"></i>
    <div>{{response.voteCounts}}</div>
    <i (click)="vote(-1)" class="fa fa-caret-down fa-2x row arrow"></i>
  </div>
  <div class="col-3">
    <img src={{response.restaurantImageURL}} alt="Food Picture" width="100%" />
  </div>
  <div class="col-6">
    <h5>
      <a href={{response.restaurantURL}}> {{response.restaurantName}} </a>
    </h5>
    <h6> "{{response.descriptions}}"</h6>
    <span class="details">posted by {{authorUsername}}</span>
  </div>
</div>
