<label>Search Restaurant</label>
<form [formGroup]="searchForm">

  <div *ngIf="!searchable" class="input-group">
    <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
    />
    <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
      <div *ngIf="form.name.errors.required">Please enter the name of the place.</div>
    </div>

    <input type="text" formControlName="location" class="form-control" placeholder="Location" [ngClass]="{ 'is-invalid': submitted && form.location.errors }"
    />
    <div *ngIf="submitted && form.location.errors" class="invalid-feedback">
      <div *ngIf="form.location.errors.required">Please enter the location.</div>
    </div>

    <button (click)=" searchRestaurant(form.name.value, form.location.value) " class="btn btn-lg search-btn" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <div *ngIf="searchable">

    <div class="row container-full">
      <h5>
        <a class="col-6" href={{restaurant.url}}>{{restaurant.name}}</a>
      </h5>
      <button *ngIf="searchable" (click)=" cancel() " class="btn btn-danger cancel-btn">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>



</form>