<div class="container-fluid">
  <h1>Admin Page</h1>
  <div class="form-group">
    <label>View</label>
    <br/>
    <select (change)="setView($event.target.value)">
      <option disabled selected>Select View</option>
      <option value="0">Users</option>
      <option value="1">Posts</option>
    </select>
  </div>

  <br/>
  <div class="row">

    <div *ngIf = "viewOption == 0" class="col-2">
      <div>
        <select (change)="setUserRoleView($event.target.value)">
          <option disabled selected>Select Role Type</option>
          <option value="0">View All</option>
          <option value="1">Regular Foodie</option>
          <option value="2">Restaurant Owner</option>
        </select>
      </div>
      <ul class="list-group">
        <a class="list-group-item-success" style="text-align:center">
          Users
        </a>
        <li class="list-group-item"
            *ngFor="let user of displayUser"
            (click)="selectUser(user)"
            [ngClass]="{'active' : user._id == userId}">
          {{user.username}}
          <i (click)="deleteUser(user._id)" class="fa fa-times fa-lg float-right remove">
          </i>
        </li>
      </ul>
    </div>

    <div *ngIf = "viewOption == 1" class="col-2">
      <div>
        <select (change)="setPostTypeView($event.target.value)">
          <option disabled selected>Select Post Type</option>
          <option value="all">View All</option>
          <option value="0">Regular Post</option>
          <option value="1">Promotion</option>
        </select>
      </div>

      <ul class="list-group">
        <a class="list-group-item-success" style="text-align:center">
          Posts
        </a>
        <li class="list-group-item"
            *ngFor="let post of displayPost"
            (click)="selectPost(post)"
            [ngClass]="{'active' : post._id == postId}">
          {{post.title}}
        </li>
      </ul>
    </div>

    <div *ngIf = "userView" class="col-8">
      <h2>User Information</h2>
      <form [formGroup]="registerForm">
        <table width="75%" class="table-bordered" style="text-align:center">
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td> <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && createForm.username.errors }"
            />
              <div *ngIf="submitted && createForm.username.errors" class="invalid-feedback">
                <div *ngIf="createForm.username.errors.required">Username is required</div>
              </div></td>
            <td><input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && createForm.password.errors }"
            />
              <div *ngIf="submitted && createForm.password.errors" class="invalid-feedback">
                <div *ngIf="createForm.password.errors.required">Password is required</div>
                <div *ngIf="createForm.password.errors.minlength">Password must be at least 6 characters</div>
              </div></td>
            <td><input type="text" formControlName="firstName" class="form-control"/></td>
            <td><input type="text" formControlName="lastName" class="form-control"/></td>
            <td><input type="text" formControlName="email" class="form-control"/></td>
            <td><select (change)="setRole($event.target.value)">
              <option disabled selected>Select Role</option>
              <option value="1">Regular Foodie</option>
              <option value="2">Restaurant Owner</option>
            </select></td>
            <td><button *ngIf="!userUpdate" (click)="create(createForm.username.value, createForm.password.value, createForm.firstName.value,
                                        createForm.lastName.value, createForm.email.value)" class="btn-info btn">Create</button>
              <button *ngIf="userUpdate" (click)="updateUser(createForm.username.value, createForm.password.value, createForm.firstName.value,
                                        createForm.lastName.value, createForm.email.value)" class="btn-info btn">Update</button></td>
            <td><button *ngIf="!userUpdate" (click)="check()" class="btn-danger btn">Clear</button>
              <button *ngIf="userUpdate" (click)="cancelUpdate()" class="btn-danger btn">Cancel</button></td>
          </tr>
          <tr>
            <td>{{user.username}}</td>
            <th>******</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{role(user.role)}}</td>
            <th><button (click)="updateSetUp()" class="btn-info btn">Update</button></th>
            <td><button (click)="deleteUser(user._id)" class="btn-danger btn">Delete</button></td>
          </tr>
        </table>
      </form>
    </div>

    <div *ngIf = "postView" class="col-8">
      <h2>Post Information</h2>
      <table width="75%" class="table-bordered" style="text-align:center">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th *ngIf="post.type == 1">Restaurant Name</th>
          <th>Post Type</th>
          <th></th>
        </tr>
        <tr>
          <td>{{post.title}}</td>
          <td>{{username(post.author)}}</td>
          <td>{{post.description}}</td>
          <td *ngIf="post.type == 1">{{post.restaurantName}}</td>
          <td>{{type(post.type)}}</td>
          <td><button (click)="check()" class="btn-danger btn">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <div *ngIf = "postView && responsesForPost.length > 0">
      <h2>Response Information</h2>
      <table width="75%" class="table-bordered" style="text-align:center">
        <tr>
          <th>Author</th>
          <th>Restaurant Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        <tr *ngFor="let response of responsesForPost">
          <td>{{username(response.userId)}}</td>
          <td>
            <a href={{response.restaurantURL}}>
              {{response.restaurantName }}
            </a>
          </td>
          <td>{{response.descriptions}}</td>
          <td><button (click)="check()" class="btn-danger btn">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
